.git
.github
.idea
.vs
.vscode
**/bin
**/obj
**/*.user
**/*.suo
docs
**/*.md
!README.md
!docs/**/*.md
data
logs
.env
.env.*
secrets.json
*.db
*.db-journal
**/*.trx
**/*.coverage
**/*.coveragexml
TestResults